@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	min-height: 100vh;
}

.app {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 50px;
}

.action {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.action__item {
	width: 200px;
	height: 200px;
}

.action__item:hover {
	cursor: pointer;
	box-shadow: rgba(117, 156, 255, 0.5) 0px 5px 20px;
}

.action__item.user-active {
	box-shadow: rgba(117, 156, 255, 0.5) 0px 5px 20px;
}

.action__item.random-active {
	box-shadow: rgba(255, 97, 213, 0.5) 0px 5px 20px;
}

.result {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result__text {
	font-size: 25px;
}

.result__text--success {
	color: green;
}

.result__text--info {
	color: blue;
}

.result__text--danger {
	color: red;
}

.btn-reset {
	margin-top: 100px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;

	height: 35px;
	min-width: 150px;
	font-size: 16px;

	transition: background-color 0.3s linear;
	will-change: background-color;
}

.btn-reset:hover {
	cursor: pointer;
	background-color: #81ff70;
}
